<configuration scan="true" scanPeriod="10 seconds">
    <jmxConfigurator />

    <timestamp key="byDay" datePattern="dd.MM.yyyy'T'HH-mm-ss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file> user_seen_posts/first_user.txt </file>
        <append>true</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="first_user" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT" />
    </logger>

    <appender name="ANALYTICS-FILE" class="ch.qos.logback.core.FileAppender">
        <file>user_seen_posts/second_user.text</file>
        <append>true</append>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <!-- additivity=false ensures analytics data only goes to the analytics log -->
    <logger name="second_user" level="DEBUG" additivity="false">
        <appender-ref ref="ANALYTICS-FILE"/>

    </logger>



    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
